<br>
<hr>
<div class="row">
  <div class="col-md-6 text-right">
    <button class="btn btn-primary" (click)="post()" >Post oppurtunity</button>
  </div>
  <div class="col-md-6 text-left">
    <button class="btn btn-info" (click)="view()">View oppurtunities</button>
  </div>
</div>

<hr>

<div class="container" *ngIf="postOppurtunity">
  <div class="jumbotron">
    <h1>Oppurtunities</h1>
    <p>Place to add Oppurtunities </p>
  </div>
  <form #oppurtunity="ngForm" (ngSubmit)="saveDetails(oppurtunity.value)">
    <div class="form-group row">
      <div class="col-md-2 text-right">
        <span class="required" title="Indicates this is a required Field"> * </span>
        <label for="title">Title</label>
      </div>
      <div class="col-md-3 text-left">
        <input type="text" maxlength="100" class="form-control" id="title" name="title" [(ngModel)]="title" required>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-2 text-right">
        <span class="required" title="Indicates this is a required Field"> * </span>
        <label for="applications_close_date">Applications Close Date</label>
      </div>
      <div class="col-md-3 text-left">
        <input type="date" required class="form-control" id="applications_close_date" [min]="getThirty()" [max]="getNinety()" name="applications_close_date"
          [(ngModel)]="applications_close_date">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-2 text-right">
        <span class="required" title="Indicates this is a required Field"> * </span>
        <label for="earliest_start_date">Earliest Start Date</label>
      </div>
      <div class="col-md-3 text-left">
        <input type="date" required class="form-control" id="earliest_start_date" name="earliest_start_date" [(ngModel)]="earliest_start_date">
      </div>
    </div>


    <div class="form-group row">
      <div class="col-md-2 text-right">
        <span class="required" title="Indicates this is a required Field"> * </span>
        <label for="latest_end_date">Latest End Date</label>
      </div>
      <div class="col-md-3 text-left">
        <input type="date" required class="form-control" id="latest_end_date" name="latest_end_date" [(ngModel)]="latest_end_date">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-2 text-right">
        <span class="required" title="Indicates this is a required Field"> * </span>
        <label for="title">Description</label>
      </div>
      <div class="col-md-3 text-left">
        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description" required>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-2 text-right">
        <span class="required" title="Indicates this is a required Field"> * </span>
        <label for="title">City</label>
      </div>
      <div class="col-md-3 text-left">
        <input type="text" class="form-control" id="city" name="city" [(ngModel)]="city" required>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-2 text-right">
        <span class="required" title="Indicates this is a required Field"> * </span>
        <label>Backgrounds</label>
      </div>

      <div class="col-md-10">
        <div class="well">
          <div class="row">
            <div class="col-md-3 text-left">
              <!-- <textarea [(ngModel)]="backgrounds" (keydown)="enterPressed($event)" name="backgrounds" required id="backgrounds" placeholder="Provide multiple values in new lines (at least one required)."></textarea> -->
              <select multiple="multiple" (change)="onBackgroundSelect()" [disabled]="setLimit" required [(ngModel)]="backgrounds" name="backgrounds">
                <option *ngFor="let data of backgroundsPresent" (select)="select()" value="{{data.id}}">{{data.name}}</option>
              </select>
            </div>

            <div class="col-md-3 text-right">
              <label for="backgroundOptions">Options</label>
            </div>
            <div class="col-md-2 text-left">
              <select multiple="multiple" [(ngModel)]="backgroundOptions" name="backgroundOptions">
                <option *ngFor="let data of backgroundObject" value="{{data.value}}">{{data.label}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-2 text-right">
        <span class="required" title="Indicates this is a required Field"> * </span>
        <label>Skills</label>
      </div>

      <div class="col-md-10">
        <div class="well">
          <div class="row">
            <div class="col-md-3 text-left">
              <!-- <textarea [(ngModel)]="skills" name="skills" required id="skills" placeholder="Provide multiple values in new lines (at least one required)."></textarea> -->
              <select multiple="multiple" required [(ngModel)]="skills" name="skills">
                <option *ngFor="let data of skillsPresent" value="{{data.id}}">{{data.name}}</option>
              </select>
            </div>
            <div class="col-md-3 text-right">
              <label for="skillsOptions">Options</label>
            </div>
            <div class="col-md-2 text-left">
              <select multiple="multiple" [(ngModel)]="skillsOptions" name="skillsOptions">
                <option *ngFor="let data of skillsObject" value="{{data.value}}">{{data.label}}</option>
              </select>
            </div>
            <div class="col-md-2 text-right">
              <label for="skillLevel">Level</label>
            </div>
            <div class="col-md-2 text-left">
              <select multiple="multiple" [(ngModel)]="skillLevel" name="skillLevel">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-2 text-right">
        <span class="required" title="Indicates this is a required Field"> * </span>
        <label for="title">Selection Process</label>
      </div>
      <div class="col-md-3 text-left">
        <input type="text" class="form-control" id="selection_process" name="selection_process" [(ngModel)]="selection_process" required>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-2 text-right">
        <span class="required" title="Indicates this is a required Field"> * </span>
        <label for="title">Salary</label>
      </div>
      <div class="col-md-3 text-left">
        <input type="number" class="form-control" id="salary" name="salary" [(ngModel)]="salary" required>
      </div>

    </div>

    <br>
    <!-- 
    <iframe _ngcontent-c17="" allowfullscreen="" frameborder="0" id="googleMap" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBvMWJrCycleLrwQS-ceeeYC61K0fGbsE0&amp;q=place_id:ChIJdTsegBFmUjoRXZGUcA0pumQ">
    </iframe> -->

    <div class="center">
      <button type="submit" [disabled]="!oppurtunity.form.valid" class="btn btn-success center">Create</button>
      <!-- <button type="submit" class="btn btn-success center">Create</button> -->
    </div>
  </form>
</div>

<div class="container" *ngIf="viewOppurtunity">
  <ag-grid-angular #agGrid
  style="width: 1140px; height: 1000px;" 
  class="ag-theme-balham"
  [enableSorting]="true"
  [enableFilter]="true"
  [rowData]="rowData" 
  [columnDefs]="columnDefs"
  rowSelection="multiple">
</ag-grid-angular>
</div>